body {
    display: flex;
    background-color: #eeeeee;
}
.fields {
    width: 500px;
    margin: auto;
    display: flex;
    flex-direction: row;
}
/*.traits {
    width: 100px;
}*/
.traits label {
    display: flex;
    flex-direction: row;
}
/*.traits input {
    width: 80px;
}*/

.effects {
    width: 200px;
}
.effects div {
    margin-bottom: 20px;
}
.effects input {
    width: 80px;
}
#btnHighlight {
    width: 100px;
}
.soloEffect {
    display: flex;
    flex-direction: row;
}
.soloEffect input {
    width: 100px;
}
#btnSector {
    display: block;
    width: 200px;
    margin-bottom: 5px;
}
.graphDiv {
    width: 700px;
    margin:auto;
}

.st0{display:none;}
.agro{fill:none;stroke:#9B51E0;stroke-miterlimit:22.9256;}
.lie{fill:none;stroke:#F7685B;stroke-miterlimit:22.9256;}
.line{fill:none;stroke:#C9C9C9;stroke-width:9;stroke-miterlimit:22.9256;}
.outline{fill:none;stroke:#2B2A29;stroke-width:10;stroke-miterlimit:22.9256;}
.st5{fill:none;stroke:#C4C4C4;stroke-width:3;stroke-miterlimit:22.9256;}

.lines{display:inline;fill:none;stroke:#C9C9C9;stroke-width:10;stroke-miterlimit:22.9256;}
.caps{fill:#C9C9C9;}

.linesUnited{fill:url(#SVGID_1_);}
.selLine{fill:none;stroke-linecap:round;/*stroke-miterlimit:22.9256;*/}
.outerGrad{fill:url(#outerFillGrad);}

.segment {
    fill:none;
}


.sliderContainer {
	width: 360px;
	height: 40px;
	
	margin: auto;

	padding: 0;

	position: relative;

}

.sliderSections {
	position: absolute;
	z-index: -2;
	top: 0;
	left: 0;
	display: flex;
}
.sliderBlock {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	width: 40px;
	height: 100%;
	border-style: solid;
	border-width: 1px 0px 1px 1px;
	border-color: #D4D4D4;

	text-align: center;
	line-height: 40px;
	font-size: 12px;
	color: #D4D4D4;
}
.lastBlock {
	border-width: 1px;
}

.slider {
	z-index: 3;
	appearance: none;
	-webkit-appearance: none;
	width: 100%;
	height: 100%;
	margin: auto;
	opacity: 0;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	cursor: pointer;
	width: 40px;
	height: 40px;
}
.slider::-moz-range-thumb {
	cursor: pointer;
	width: 40px;
	height: 40px;
}

.sliderGrad {
	position: absolute;
	z-index: -1;
	top: 7.5px;
	left: 0px;

	height: 25px;
	border-radius: 0px 25px 25px 0px;

	background: rgb(87,107,136);
	background: -moz-linear-gradient(90deg, rgba(87,107,136,0) 0%, rgba(87,107,136,0.9009978991596639) 100%);
	background: -webkit-linear-gradient(90deg, rgba(87,107,136,0) 0%, rgba(87,107,136,0.9009978991596639) 100%);
	background: linear-gradient(90deg, rgba(87,107,136,0) 0%, rgba(87,107,136,0.9009978991596639) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#576b88",endColorstr="#576b88",GradientType=1);

	transition: width 0.1s ease;
}

/*
            <style type="text/css">
                .st0{display:none;}
                .st1{fill:none;stroke:#9B51E0;stroke-width:6;stroke-miterlimit:22.9256;stroke-dasharray:80.7917,80.7917;}
                .st2{fill:none;stroke:#F7685B;stroke-width:6;stroke-miterlimit:22.9256;stroke-dasharray:70,70;}
                .st3{fill:none;stroke:#C9C9C9;stroke-width:9;stroke-miterlimit:22.9256;}
                .st4{fill:none;stroke:#2B2A29;stroke-width:9;stroke-miterlimit:22.9256;}
                .st5{fill:none;stroke:#C9C9C9;stroke-width:2;stroke-miterlimit:22.9256;}
            </style>
*/