@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

html,body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} 
body {
    display: flex;
	background-color: #eeeeee;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

:root {
	--slider-block-size: 40px;
	--slider-blocks-width: calc(9 * var(--slider-block-size));
	--slider-full-size: calc(11 * var(--slider-block-size)); 
	--slider-marker-font-size: calc(0.45 * var(--slider-block-size));
	--slider-line-height: calc(var(--slider-block-size)-2);
	--slider-dot-size: calc(0.3 * var(--slider-block-size));
	--slider-grad-height: calc(0.625 * var(--slider-block-size));
	--slider-grad-margin: calc((var(--slider-block-size) - var(--slider-grad-height))/2);
	--slider-value-offset: calc(var(--slider-blocks-width) + (var(--slider-block-size))/2);
}

.wholeContainer {
	display: flex;
	margin: 0 auto;
	position: absolute;
	
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.graphDiv {
	transition: opacity 2s ease-in-out;
	width: 700px;
    margin: auto;
}

.fields {
    width: var(--slider-full-size);
    margin: auto;
    display: flex;
    flex-direction: row;
}

.traits {
	transition: opacity 1s ease-in-out;
	width: var(--slider-full-size);
}
/*.traits {
    width: 100px;
}*/
/*.traits label {
    display: flex;
	flex-direction: row;
}*/
/*.traits input {
    width: 80px;
}*/

.effects {
    width: 200px;
}
.effects div {
    margin-bottom: 20px;
}
.effects input {
    width: 80px;
}
#btnHighlight {
    width: 100px;
}
.soloEffect {
    display: flex;
    flex-direction: row;
}
.soloEffect input {
    width: 100px;
}
#btnSector {
    display: block;
    width: 200px;
    margin-bottom: 5px;
}

.agro{fill:none;stroke:#9B51E0;stroke-miterlimit:22.9256;}
.lie{fill:none;stroke:#F7685B;stroke-miterlimit:22.9256;}
.line{fill:none;stroke:#C9C9C9;stroke-width:9;stroke-miterlimit:22.9256;}
.outline{fill:none;stroke:#2B2A29;stroke-width:10;stroke-miterlimit:22.9256;}
.st5{fill:none;stroke:#C4C4C4;stroke-width:3;stroke-miterlimit:22.9256;}

.lines{display:inline;fill:none;stroke:#C9C9C9;stroke-width:10;stroke-miterlimit:22.9256;}
.caps{fill:#C9C9C9;}

.linesUnited{fill:url(#SVGID_1_);}
.selLine{fill:none;stroke-linecap:round;/*stroke-miterlimit:22.9256;*/}
.outerGrad{fill:url(#outerFillGrad);}

.segment {
    fill:none;
}

.sliderContainer {
	width: var(--slider-blocks-width);
	height: var(--slider-block-size);
	
	margin: auto;
	margin-bottom: 5px;

	padding: 0;

	position: relative;

}
.sliderContainer label {
	position: absolute;
	top: 0;
	left: calc(-1 * var(--slider-block-size));
	width: var(--slider-block-size);
	height: var(--slider-block-size);

	line-height: var(--slider-block-size);
	text-align: center;
	font-size: var(--slider-marker-font-size);
}

.sliderSections {
	position: absolute;
	z-index: -2;
	top: 0;
	left: 0;
	display: flex;
}
.sliderBlock {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	width: var(--slider-block-size);
	height: var(--slider-block-size);
	border-style: solid;
	border-width: 1px 0px 1px 1px;
	border-color: #D4D4D4;

	text-align: center;
	/*line-height: var(--slider-line-height);*/
	line-height: 38px; /*REPLACE IN QUERIES*/
	font-size: var(--slider-dot-size);
	color: #D4D4D4;
	vertical-align: middle;
}
.lastBlock {
	border-width: 1px;
}

.slider {
	z-index: 3;
	appearance: none;
	-webkit-appearance: none;
	width: 100%;
	height: 100%;
	margin: auto;
	opacity: 0;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	cursor: pointer;
	width: var(--slider-block-size);
	height: var(--slider-block-size);
}
.slider::-moz-range-thumb {
	cursor: pointer;
	width: var(--slider-block-size);
	height: var(--slider-block-size);
}

.sliderGrad {
	position: absolute;
	z-index: -1;
	top: var(--slider-grad-margin);
	left: 0px;

	height: var(--slider-grad-height);
	border-radius: 0px 25px 25px 0px;

	background: rgb(87,107,136);
	background: -moz-linear-gradient(90deg, rgba(87,107,136,0) 0%, rgba(87,107,136,0.9009978991596639) 100%);
	background: -webkit-linear-gradient(90deg, rgba(87,107,136,0) 0%, rgba(87,107,136,0.9009978991596639) 100%);
	background: linear-gradient(90deg, rgba(87,107,136,0) 0%, rgba(87,107,136,0.9009978991596639) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#576b88",endColorstr="#576b88",GradientType=1);

	transition: width 1s ease-in-out;
}
#lieGradId {
	background: rgb(247,104,91);
	background: -moz-linear-gradient(90deg, rgba(247,104,91,0) 0%, rgba(247,104,91,0.9) 100%);
	background: -webkit-linear-gradient(90deg, rgba(247,104,91,0) 0%, rgba(247,104,91,0.9) 100%);
	background: linear-gradient(90deg, rgba(247,104,91,0) 0%, rgba(247,104,91,0.9) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7685b",endColorstr="#f7685b",GradientType=1);
}
#agroGradId {
	background: rgb(155,81,224);
	background: -moz-linear-gradient(90deg, rgba(155,81,224,0) 0%, rgba(155,81,224,0.9) 100%);
	background: -webkit-linear-gradient(90deg, rgba(155,81,224,0) 0%, rgba(155,81,224,0.9) 100%);
	background: linear-gradient(90deg, rgba(155,81,224,0) 0%, rgba(155,81,224,0.9) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9b51e0",endColorstr="#9b51e0",GradientType=1);
}

.valueIndicator {
	position: absolute;
	top: 0;
	left: var(--slider-value-offset);
	margin: 0;
	line-height: var(--slider-block-size);
	
	font-family: 'Open Sans', sans-serif;
	font-size: var(--slider-marker-font-size);
	text-align: center;
	color: #37414F;
	font-weight: 300;
}

.separatedTraits {
	margin-top: 25px;
}


@media only screen and (max-width: 1150px) {
	.wholeContainer {
		display: block;
		position: relative;
		transform: none;
		top: 0;
		left: 0;
	}
}

@media only screen and (max-width: 750px) {
	.graphDiv {
		width: 450px;
		margin: auto;
	}
}

@media only screen and (max-width: 470px) {
	.wholeContainer {
		width: 320px;
	}
	.graphDiv {
		width: 300px;
		margin: auto;
		margin-top: 10px;
		margin-bottom: 15px;
	}
	.fields {
		width: var(--slider-full-size);
	}
	:root {
		--slider-block-size: 30px;
	}
	.sliderBlock {
		line-height: 28px;
	}
}

@media only screen and (max-width: 330px) {
	.fields {
		width: var(--slider-full-size);
	}
	:root {
		--slider-block-size: 27.27px;
	}
	.sliderBlock {
		line-height: 25.27px;
	}
}